/* Resetando html*/
*{  background-color: #f7d0a4;
    border: 0;
    padding: 0;
    margin: 0;
}
/*
*Container da página
*/
div.container{
    max-width: 800px;
    margin: auto;
    color: #915a1c;
}

h1{
    text-align: center;
    color: #ffa600;
}

#p1{
    text-align: justify;
    font-size: 20px;
    color:#915a1c ;
}

#p2{
    text-align: justify;
    font-size: 20px;
    color:#d87e17 ;
}
